@import url('https://fonts.googleapis.com/css?family=Lato|Rubik|Permanent+Marker|Open+Sans&display=swap');

body {
    position: relative;
    /*margin-top: 70px;*/
    background-color: rgb(0, 0, 0);
}

.nav-spacer {
    height: 70px;
}

.heading {
    font-family: "permanent Marker";
    font-weight: 900;
    color: red;
    text-align: center;
    padding: 20px 0px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}


p {
    font-family: Rubik;
    color: rgb(255, 255, 255);
    text-align: left;
    
}


/*------------------------------Header-------------------------*/

@media (min-width: 992px) {
    header {
        /*margin-top: 35px;*/
    }
}

/*------------------------------Navbar-------------------------*/

@media (max-width: 400px) {
    .nav {
        display: block;
    }
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(255,255,255);
    background-color: rgb(169,14,14);
}

.nav-item a {
    color: rgb(230,31,2);
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 2px;
}

nav .social-links {
    text-align: center;
    height: 25px;
    width: 25px;
    color: rgb(159,3,3);
    background-color: rgb(159,3,3);
    border-radius: 50%;

}

nav .nav-socialmedia {
    margin-bottom: 0px;
    padding: 10px 0px;
}

nav .social-links a {
    color: rgb(255,255,255);
}

/*----------------------------------hero image-------------------------*/

.hero-image {
    width: 50%;
    height: auto;
    float: left;
    padding-right: 10px;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

/*----------------------------------Intro-------------------------*/

.landscape-logo {
    margin-bottom: 10px;
    width: 50%;
    height: auto;
    min-height: 100px;
    padding: 10px 0px;
}

.james-hetfield-img {
    float: right;
    padding-left: 10px;
}

.intro {
    margin-bottom: 10px;
}

/*-----------------------------------------Discography--------------------------*/

.discography {
    background-color: rgb(29,28,27);
}

.discography .card {
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgb(169,14,14);
    color: rgb(250,250,250);
}

@media (max-width: 400px) {
    .discography .card {
        height: 273px;
    }
}

.discography .card-img {
    width: 100%;
    height: auto;
}

.discography .card-body {
    padding: 0;
}

.discography .card-title {
    padding-top: 10px;
}

.discography .card-body p {
    padding-bottom: 10px;
    margin: 0px;
}

.discography .btn {
    background-color: rgb(159, 10, 10);
    color: rgb(250,250,250);
}

.discography .modal-content {
    background-color: rgba(64, 64, 57, 0.8);
    color: rgb(245,233,233);
}

.discography .modal-header span {
    color: rgb(255,255,255);
}

.discography .modal .btn {
    color: rgb(169,14,14);
    background-color: rgb(250,250,250);
    font-weight: 500;
}

/*-----------------------------------------Biography--------------------------*/

.biography {
    background: url(https://res.cloudinary.com/dfboxofas/image/upload/v1570024274/thin-lizzy/Thin_Lizzy_1978-Live_and_Dangerous_lineup_qogkwv.jpg);
    background-size: cover;
}

.biography .card {
    margin-bottom: 30px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.biography .card-img {
    display: block;
  margin-left: auto;
  margin-right: auto;
    max-width: 200px;
    height: auto;
}

@media (min-width: 700px) {
    .biography .card-img {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.biography .card-body {
    padding: 0px 20px;
}

.biography .card-title {
    padding-top: 10px;
    color: rgb(244,244,244);
    font-weight: 700;
}

.biography .card-text {
    margin: 0;
    color: rgb(244,244,244);
}

/*-----------------------------------------Videos--------------------------*/

.videos {
    background-image: url(https://res.cloudinary.com/dfboxofas/image/upload/v1570024582/thin-lizzy/video-background_dwvvig.jpg);
    background-size: cover;
}

.videos iframe {
    margin-bottom: 20px;
    border: 3px solid rgb(255, 255, 255);
    width: 100%;
    height: 350px;
}

/*-----------------------------------------Contact us--------------------------*/

.contact-us {
    background-image: url(https://res.cloudinary.com/dfboxofas/image/upload/v1570024553/thin-lizzy/thin-lizzy-live-bw_kt6nse.jpg);
    background-size: cover;
    color: rgb(250, 250, 250);
}

.contact-us .wrapper {
    padding: 0;
}

.contact-us .form-static-text {
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 0px;
}

.contact-us .form-content {
    padding: 15px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-us h5 {
    text-transform: uppercase;
    text-align: center;
}

.contact-us p {
    margin: 0px 10px;
}


.contact-us form label {
    padding-top: 5px;
}

.contact-us form input {
    border: 2px solid rgb(169,14,14);
    margin-bottom: 10px;
    padding: 0px 10px;
}

.contact-us button {
    width: 100%;
    background-color: rgb(169,14,14);
    color: rgb(250, 250, 250);
}


/*-----------------------------------------Footer--------------------------*/

footer {
    background-color: rgba(125, 44, 44, 0.6);
    color: rgb(250, 250, 250);
    padding-top: 20px;
}

footer p {
    text-align: center;
}

footer a {
    color: rgb(159,3,3);
}

footer .social-links {
    text-align: center;
    height: 25px;
    width: 25px;
    color: rgb(159,3,3);
    background-color: rgb(255,255,255);
    border-radius: 50%;
}

footer .social-links a {
    color: rgb(159,3,3);
}
