@import url('https://fonts.googleapis.com/css?family=Lato|Rubik|Permanent+Marker|Open+Sans&display=swap');

body {
    position: relative;
    /*margin-top: 70px;*/
    background-color: #000;
}

.nav-spacer {
    height: 70px;
}

.heading {
    font-family: "permanent Marker";
    font-weight: 900;
    color: red;
    text-align: center;
    padding: 20px 0px;
    text-transform: uppercase;
    background-color: #00000085;
    margin-top: 50px;
}


p {
    font-family: Rubik;
    color: #fff;
    text-align: left;
    
}


/*------------------------------Header-------------------------*/

@media (min-width: 992px) {
    header {
        /*margin-top: 35px;*/
    }
}

/*------------------------------Navbar-------------------------*/

@media (max-width: 400px) {
    .nav {
        display: block;
    }
}

.navbar {
    background-color: #000;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #a90e0e;
}

.nav-item a {
    color: #e61f02;
    text-decoration: none;
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 2px;
}

nav .social-links {
    text-align: center;
    height: 25px;
    width: 25px;
    color: #9f0303;
    background-color: #9f0303;
    border-radius: 50%;

}

nav .nav-socialmedia {
    margin-bottom: 0px;
    padding: 10px 0px;
}

nav .social-links a {
    color: #fff;
}

/*----------------------------------hero image-------------------------*/

.hero-image {
    width: 50%;
    height: auto;
    float: left;
    padding-right: 10px;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

/*----------------------------------Intro-------------------------*/

.landscape-logo {
    /*display: block;*/
    margin-bottom: 10px;
    width: 50%;
    height: auto;
    min-height: 100px;
    padding: 10px 0px;
}

.james-hetfield-img {
    float: right;
    padding-left: 10px;
}

.intro {
    margin-bottom: 10px;
}

/*-----------------------------------------Discography--------------------------*/

.discography {
    background-color: #1d1c1b;
}

.discography .card {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #a90e0e;
    color: #fafafa;
}

@media (max-width: 400px) {
    .discography .card {
        height: 273px;
    }
}

.discography .card-img {
    width: 100%;
    height: auto;
}

.discography .card-body {
    padding: 0;
}

/*.discography .card-title {
    margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
}*/

.discography .btn {
    background-color: #9e0909f5;
    color: #fafafa;
}

.discography .modal-content {
    background-color: #404039d1;
    color: #f5e9e9;
}

.discography .modal-header span {
    color: #fff;
}

.discography .modal .btn {
    color: #a90e0e;
    background-color: #fafafa;
    font-weight: 500;
}

/*-----------------------------------------Biography--------------------------*/

.biography {
    background: url(../images/Thin_Lizzy_1978-Live_and_Dangerous_lineup.jpg);
    background-size: cover;
}

.biography .card {
    margin-bottom: 30px;
    padding: 10px;
    background-color: #00000085;
}

.biography .card-img {
    max-height: 200px;
    max-width: 100%;
    height: auto;
}

@media (min-width: 700px) {
    .biography .card-img {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.biography .card-body {
    padding: 0px 20px;
}

.biography .card-title {
    padding-top: 10px;
    color: #f4f4f4;
    font-weight: 700;
}

.biography .card-text {
    margin: 0;
    color: #f4f4f4;
}

/*-----------------------------------------Videos--------------------------*/

.videos {
    background-image: url(../images/video-background.jpg);
    background-size: cover;
}

.videos iframe {
    margin-bottom: 20px;
    border: 3px solid #fff;
    width: 100%;
    height: 350px;
}

/*-----------------------------------------Contact us--------------------------*/

.contact-us {
    background-image: url(../images/thin-lizzy-live-bw.jpg);
    background-size: cover;
    color: #fafafa;
}

.contact-us .wrapper {
    padding: 0;
}

.contact-us .heading {
    margin-top: 10px;
}

.contact-us .form-static-text {
    padding: 15px 0px;
    background-color: #00000085;
    padding-bottom: 0px;
}

.contact-us .form-content {
    padding: 15px 0px;
    background-color: #00000085;
}

.contact-us h5 {
    text-transform: uppercase;
    text-align: center;
}

.contact-us p {
    margin: 0px 10px;
}


.contact-us form label {
    padding-top: 5px;
}

.contact-us form input {
    border: 2px solid #a90e0e;
    margin-bottom: 10px;
    padding: 0px 10px;
}

.contact-us button {
    width: 100%;
}

/*.contact-us button {
    width: 100%;
    margin-right: 15px;
    position: absolute;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}*/

/*-----------------------------------------Footer--------------------------*/

footer {
    background-color: #f90404a3;
    color: #fafafa;
    padding-top: 20px;
}

footer p {
    text-align: center;
}

footer .form-control {
    border-color: #8b8b8b;
    margin: 0;
}

footer .btn {
    background-color: #5564d2;
    color: #fafafa;
}

footer a {
    color: #9f0303;
}

footer .social-links {
    text-align: center;
    height: 25px;
    width: 25px;
    color: #9f0303;
    background-color: #fff;
    border-radius: 50%;
}

footer .social-links a {
    color: #9f0303;
}
